.product {
  flex: 4;
  padding: 20px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.productTop {
  display: flex;
}

.productTopLeft,
.productTopRight {
  flex: 1;
}

.productTopRight {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productInfoTop {
  display: flex;
  align-items: center;
}

.productName {
  font-weight: 600;
}

.productInfoBottom {
  margin-top: 10px;
}

.productInfoItem {
  width: 150px;
  display: flex;
}

.productInfoValue {
  font-weight: 300;
  margin-left: 10px;
}

.updateProduct {
  flex: 4;
}

.updateProductForm {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.updateProductItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 20px;
}

.updateProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.updateProductItem > input {
  padding: 10px;
}

.updateProductItem > select {
  padding: 10px;
}

.updateProductButton {
  height: 40px;
  width: 50%;
  margin: 20px auto;
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}
